#cy {
    height: 90%;
    width: 100%;
    position: relative;
    left: 0;
    background: #f2f2f2;
}

.div-output {
    margin:5px 0 20px 0;
}

#topologyDiv{
    height: 700px;
}

.jumbotron {

    background-size: cover;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    background-color: #f2f2f2;

}

.container {
    margin: 0 auto;
    width: 90%;
}

.button {
    border: none;
    color: white;
    width: 150px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-submit{
    background-color: green;
    margin-top: 20px;
    border-radius: 4px;
}

.button:active {
    background-color: yellowgreen;
}

.navbar-custom {
    background-color: #E53D19;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #ff5500;
}

.navbar-custom .dropdown-item {
    color: #ffffff;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255, 255, 255, .5);
}

.footer